<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:fragment="header">
    <a href="/"><img alt="logo" src="../static/background.jpg" th:src="@{/background.jpg}"
                     style="width: 100%; height: 200px"/></a>
    <div class="navbar">
        <ul class="user">
            <li class="user-toggle"><a href="#"><i id="user-icon" class="fa-solid fa-user"></i></a></li>
            <li class="user-item"><a href="#" th:href="@{/register}">ZAREJESTRUJ SIĘ!</a></li>
            <li class="user-item"><a href="#" th:href="@{/login}">Logowanie</a></li>
            <li class="user-item"><a href="#" th:href="@{/userPanel}">Panel użytkownika</a></li>
        </ul>
        <ul class="menu">
            <li class="menu-toggle"><a href="#"><i id="toggle-icon" class="far fa-plus-square"></i></a></li>
            <li class="menu-item"><a href="#" th:href="@{/popularEvents}">Najlpopularniejsze wydarzenia</a></li>
            <li class="menu-item"><a href="#" th:href="@{/eventsToBet}">Mecze do obstawienia</a></li>
            <li class="menu-item"><a href="#" th:href="@{/checkYourCoupon}">Sprawdź swój zakład</a></li>
        </ul>
    </div>
</header>

<footer th:fragment="footer">

    <ul class="footer-items">
        <li class="fa-solid fa-chart-simple"> Analizuj</li>
        <li class="fa-solid fa-receipt"> Obstaw</li>
        <li class="fa-sharp fa-solid fa-sack-dollar"> Wygrywaj!</li>
    </ul>
</footer>
</body>
</html>