<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>

</head>
<body>
<section layout:fragment="content">
    <div class="event-list">

        <ul class="event-list-menu">
            <li><a class="bl" href="/">Wszystkie wydarzenia</a></li>
            <li><a class="bl" href="/popularEvents">Najpopularniejsze mecze</a></li>
            <li><a class="bl" href="/eventsToBet">Mecze do obstawienia</a></li>
        </ul>
        <table class="table table-dark table-striped">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nazwa wydarzenia</th>
                <th scope="col">Data</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="event: ${eventList}">
                <th scope="row" th:text="|${event.id}|"></th>
                <td><a th:href="|/event/${event.id}|" th:text="|${event.name}|"></a></td>
                <td th:text="|${#temporals.format(event.dateTime, 'dd MMMM HH:mm')}|"></td>
            </tr>
            </tbody>
        </table>
    </div>

</section>
</body>
</html>