<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:layout=”http://www.ultraq.net.nz/thymeleaf/layout”>
<head>
    <meta charset="UTF-8">
    <title>Buk z Tobą - Zakłady bukmacherskie` </title>
    <link rel="stylesheet" href="/css/styles.css" type="text/css"/>
</head>
<body>
<div class="wrapper">
    <div th:replace="fragments :: header"></div>
    <main>
        <div layout:fragment="content"></div>
    </main>
    <div th:replace="fragments :: footer"></div>
</div>
</body>
</html>