<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>

</head>
<body>
<section layout:fragment="content">
    <h2>Lista meczów</h2>

    <a class="bl" href="/">Wszystkie mecze</a>
    <a class="bl" href="/popularEvents">Najpopularniejsze mecze</a>
    <a class="bl" href="/eventsToBet">Mecze do obstawienia</a>

    <table class="table table-dark table-striped">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nazwa wydarzenia</th>
            <th scope="col">Data</th>
            <th scope="col">Ilość kuponów</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="event: ${eventList}">
            <th scope="row" th:text="|${event.getEventId()}|"></th>
            <td><a th:href="|/event/${event.getEventId()}|" th:text="|${event.getEventName()}|"></a></td>
            <td th:text="|${event.getDateTime()}|"></td>
            <td th:text="|${event.getBetCount()}|"></td>
        </tr>
        </tbody>
    </table>

</section>
</body>
</html>