<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>

</head>
<body>
<section layout:fragment="content">
    <a href="/logout">Wyloguj się</a>
    <h2>Panel użytkownika</h2>

    <p th:text="|Witaj ${user.username}|"></p>

    <form th:action="@{/userPanel}" method="post" th:object="${user}">
        <div class="form-group">
            <label for="name">Imię</label>
            <input type="text" class="form-control" id="name" th:field="*{name}">
        </div>
        <div class="form-group">
            <label for="lastName">Nazwisko</label>
            <input type="text" class="form-control" id="lastName" th:field="*{lastName}">
        </div>
        <div class="form-group">
            <label for="password">Hasło</label>
            <input type="password" class="form-control" id="password" th:field="*{password}">
        </div>
        <button type="submit" class="btn btn-primary">Edytuj dane</button>
    </form>

</section>
</body>
</html>